a{
    color: rgb(26, 124, 170);
    cursor: pointer;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: rgb(76, 84, 63);
}
.container{
    padding-left: 165px;
    padding-right: 165px;
}